<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eloner</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

    <h1 style="text-align: center;">WELCOME TO ELONER</h1>
    <h2 style="text-align: center;">GET RICH QUICK WITH THE POWER OF CRYPTOCURRENCIES, ELON MUSK, AND MEMES</h2>

    <br>

    <div style="text-align: center;">
      <h2>BITCOIN</h2>
      <a href="/bitcoin"><img src="{{ url_for('static', filename='img/btc.gif') }}" alt="BTC TO THE MOON" height="200" width="200"></a>
    </div>
      
      
    <div style="text-align: center;">
      <h2>DOGECOIN</h2>
      <a href="/doge"><img src="{{ url_for('static', filename='img/dogecoin.gif') }}" alt="DOGECOIN TO THE MOON" height="200" width="200"></a>
    </div>
        

</body>
</html>